{
  "semi": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "importOrder": [
    "^@core/(.*)$",
    "^@app/(.*)$",
    "^@assets/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@interfaces/(.*)$",
    "^@localization/(.*)$",
    "^@services/(.*)$",
    "^@stores/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
